<html>
<head>
<title>base.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #a9b7c6;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
.s4 { color: #808080;}
.ln { color: #606366; font-weight: normal; font-style: normal; }
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
base.html</font>
</center></td></tr></table>
<pre><a name="l1"><span class="ln">1    </span></a><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<a name="l2"><span class="ln">2    </span></a><span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;en&quot;</span><span class="s0">&gt;</span>
<a name="l3"><span class="ln">3    </span></a><span class="s0">&lt;head&gt;</span>
<a name="l4"><span class="ln">4    </span></a>    <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
<a name="l5"><span class="ln">5    </span></a>    <span class="s0">&lt;title&gt;</span><span class="s1">{% block title %}{% endblock %}</span><span class="s0">&lt;/title&gt;</span>
<a name="l6"><span class="ln">6    </span></a>     <span class="s4">&lt;!-- Bootstrap 5.1.3 CSS --&gt;</span>
<a name="l7"><span class="ln">7    </span></a>    <span class="s0">&lt;link </span><span class="s2">href</span><span class="s3">=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css&quot; </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">integrity</span><span class="s3">=&quot;sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3&quot; </span><span class="s2">crossorigin</span><span class="s3">=&quot;anonymous&quot;</span><span class="s0">&gt;</span>
<a name="l8"><span class="ln">8    </span></a><span class="s0">&lt;/head&gt;</span>
<a name="l9"><span class="ln">9    </span></a><span class="s0">&lt;body&gt;</span>
<a name="l10"><span class="ln">10   </span></a>    <span class="s1">{% block navbar %}</span>
<a name="l11"><span class="ln">11   </span></a>    <span class="s1">{% include 'includes/_navbar.html' %}</span>
<a name="l12"><span class="ln">12   </span></a>    <span class="s1">{% endblock %}</span>
<a name="l13"><span class="ln">13   </span></a>
<a name="l14"><span class="ln">14   </span></a>    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container-fluid&quot;</span><span class="s0">&gt;</span>
<a name="l15"><span class="ln">15   </span></a>        <span class="s1">{% block content %}</span>
<a name="l16"><span class="ln">16   </span></a>        <span class="s1">{% endblock %}</span>
<a name="l17"><span class="ln">17   </span></a>    <span class="s0">&lt;/div&gt;</span>
<a name="l18"><span class="ln">18   </span></a>
<a name="l19"><span class="ln">19   </span></a>    <span class="s1">{% block scripts %}</span>
<a name="l20"><span class="ln">20   </span></a><span class="s4">&lt;!-- Popper 2.10.2, Bootstrap 5.1.3 JavaScript --&gt;</span>
<a name="l21"><span class="ln">21   </span></a><span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js&quot; </span><span class="s2">integrity</span><span class="s3">=&quot;sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB&quot; </span><span class="s2">crossorigin</span><span class="s3">=&quot;anonymous&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
<a name="l22"><span class="ln">22   </span></a><span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js&quot; </span><span class="s2">integrity</span><span class="s3">=&quot;sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13&quot; </span><span class="s2">crossorigin</span><span class="s3">=&quot;anonymous&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
<a name="l23"><span class="ln">23   </span></a>    <span class="s1">{% endblock %}</span>
<a name="l24"><span class="ln">24   </span></a><span class="s0">&lt;/body&gt;</span>
<a name="l25"><span class="ln">25   </span></a><span class="s0">&lt;/html&gt;</span>
<a name="l26"><span class="ln">26   </span></a></pre>
</body>
</html>