{% extends "base.html" %}
{% block title %}PokeImpact{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<h1 class="display-4">Store</h1>
<p>Welcome!</p>
<div class="container big-chungus">
  <div class="row">
    {% for card in data %}
    <div class="col-sm">
      <form class="listing-grid" method="POST" action="">
        <div class="row">
          <div class="col-sm">
            <div class="center">
                <p><strong>{{ card.name }}</strong></p>
                <p>{{ card.description }}</p>
                <p>Type: {{ card.type }}</p>
                <p>Rarity: {{ card.rarity }}</p>
                <p>Booster: {{ card.booster }}</p>
                <p>Price: ${{ card.price }}</p>
                <a href="success.html"></a><button type="submit" value="Add" class="btn btn-primary">View</button></a>
            </div>
          </div>
          <div class="col-sm">
            <img src="{{url_for('image', id=card.id)}}" alt="IMAGE BROKEN!!1!!1!!1" height=200px width = 200px>
          </div>
        </div>
      </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
